NODE_ENV=development
PORT=5000
DATABASE_URL=postgresql://vendorbridge:vendorbridge@localhost:5432/vendorbridge?schema=public
CLIENT_ORIGIN=http://localhost:5173
JWT_ACCESS_SECRET=jkfeb23oh23fb32giog09b4oig98vbo4uh93
JWT_REFRESH_SECRET=bioh4hh0gh90gh09hj09hthh9043hg0943gh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=9f2dbcf7e1f778
SMTP_PASS=78972561280b39
MAIL_FROM=VendorBridge <no-reply@vendorbridge.local>
